{% extends 'Home/base.html' %}
{% block content %}
<div class="container">
<br>
<h1>Shopping Cart</h1>
<table id="cart" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="{{ item.product.image_Url }}" alt="..." class="img-responsive" width="100px" height="100px"/></div>
                    <div class="col-sm-10">
                        <h4> {{ item.product.event }} </h4>
                        <h5> {{ item.product.start_Date }}</h5>
                    </div>
                </div>
            </td>

            <td data-th="Price">
                    ${{ item.unit_price }}</td>

            <td data-th="Quantity" class="text-center">
                <form method="POST" action="{% url 'Tickets:update' %}">
                {% csrf_token %}
                    <input hidden="hidden" type="text" value="{{ item.product.id }}" id="tick_id" name="tick_id"/>
                    <input hidden="hidden" type="text" value="{{ item.product.price }}" id="price" name="price"/>
                    <input name="qty" id="qty" type="number" class="form-control form-control-sm text-center" value="{{ item.quantity }}"/>
                     <!--<input hidden="hidden" type="text" value="{{ item.quantity }}" id="new_qty" name="new_qty"/>-->
                    <button name="update" id="update" class="btn btn-danger btn-sm"><span class="oi oi-reload"></span></button>
                </form>
            </td>
            <td data-th="Subtotal" class="text-center">${{ item.total_price }}</td>
            <td class="actions text-center" data-th="">
                <a href="{% url 'Tickets:remove' item.product.id %}" id="remove_item" class="btn btn-info btn-sm"><span class="oi oi-trash"></span></a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><button class="btn btn-outline-secondary" onclick="goBack()"><i class="fa fa-angle-left"></i> Continue Shopping</button></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total: ${{ total }}</strong></td>
            <td><a href="/Tickets/checkout/" class="btn btn-outline-primary">Checkout</a></td>
        </tr>
    </tfoot>
</table>
</div>

{% if suggestion == '' %}
{% else %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="alert alert-dismissible fade show frame_me">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5> We see you like {{ suggestion }}, take a look at this ticket. </h5>
            {% load django_tables2 %}
            {% render_table table %}

        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endif %}
{% endblock %}
<script>
function goBack() {
    window.history.go(-2);
}

var qty = "1";

$(document).on('input', '#qty', function(){
    qty = $("#qty").val();
});

$( ".add_cart" ).click(function() {
    var ticket = $('#ticketID').val();
   $(location).attr('href', ticket + '/' + qty);
});


</script>