<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Home/style.css' %}"/>
    <link href="{% static 'Home/open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
</head>
{% include 'Home/navbar.html' %}

<div class="container">
<br>
<h1>Shopping Cart</h1>
<table id="cart" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="{{ item.product.image_Url }}" alt="..." class="img-responsive" width="100px" height="100px"/></div>
                    <div class="col-sm-10">
                        <h4>{{ item.product.event }}</h4>
                    </div>
                </div>
            </td>
            <td data-th="Price">
                {{ item.product.price }}</td>
            <td data-th="Quantity" class="text-center">
                <form method="POST" action="{% url 'Tickets:update' %}">
                {% csrf_token %}
                    <input hidden="hidden" type="text" value="{{ item.product.id }}" id="tick_id" name="tick_id"/>
                    <input hidden="hidden" type="text" value="{{ item.product.price }}" id="price" name="price"/>
                    <input name="qty" id="qty" type="number" class="form-control form-control-sm text-center" value="{{ item.quantity }}"/>
                     <!--<input hidden="hidden" type="text" value="{{ item.quantity }}" id="new_qty" name="new_qty"/>-->
                    <button name="update" id="update" class="btn btn-danger btn-sm"><span class="oi oi-reload"></span></button>
                </form>
            </td>
            <td data-th="Subtotal" class="text-center">{{ item.total_price }}</td>
            <td class="actions text-center" data-th="">
                <a href="{% url 'Tickets:remove' item.product.id %}" id="remove_item" class="btn btn-info btn-sm"><span class="oi oi-trash"></span></a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><button class="btn btn-outline-secondary" onclick="goBack()"><i class="fa fa-angle-left"></i> Continue Shopping</button></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total: ${{ total }}</strong></td>
            <td><a href="/Tickets/checkout/" class="btn btn-outline-primary">Checkout</a></td>
        </tr>
    </tfoot>
</table>
</div>

{% if suggestion == '' %}
{% else %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="frame_me">
            <h5> We seen you like {{ suggestion }}, take a look at this ticket. </h5>
            {% load django_tables2 %}
            {% render_table table %}
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endif %}
<script>
function goBack() {
    window.history.go(-2);
}

var qty = "1";

$(document).on('input', '#qty', function(){
    qty = $("#qty").val();
});

$( ".add_cart" ).click(function() {
    var ticket = $('#ticketID').val();
   $(location).attr('href', ticket + '/' + qty);
});


// $(document).ready(function(){
//         $(function(){
//         $('#delete_item').click(function(e){
//                 e.preventDefault();
//                 var form = $(this);
//                 var post_url = form.attr('action');
//                 var post_data = form.serialize();
//                 $('#loader3', form).html('<img src="../../images/ajax-loader.gif" />       Please wait...');
//                 $.ajax({
//                     type: 'POST',
//                     url: post_url,
//                     data: post_data,
//                     success: function(msg) {
//                         $(form).fadeOut(800, function(){
//                             form.html(msg).fadeIn().delay(2000);
//
//                         });
//                     }
//                 });
//             });
//         });
//          });

// $("tbody > tr").each(function() {
//         var qty = $(this).find("input#qty").val(),
//             tick_id = $(this).find("input#tick_id").val(),
//             price = $(this).find("input#price").val();
//
//       alert(tick_id + qty + price);
// });

// $('#cart > tbody  > tr').each(function() {
//     var price = document.getElementById("price").innerText;
//     var id = $('input#tick_id').val();
//     var qty = 0;
//     alert(id);
//     $(document).on('input', '#qty', function(){
//         qty = $("#qty").val();
//     });
//
//     $( '#update' ).click(function() {
//       $(location).attr('href', id + '/' + qty + '/' + price);
//     });
// });

</script>