{% extends 'Home/base.html' %}

{% block content %}
<div class="container">
    <h3>Purchase Summary</h3>
<table id="preview_cart" class="table table-condensed">
    <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="{{ item.product.image_Url }}" alt="..." class="img-responsive" width="100px" height="100px"/></div>
                    <div class="col-sm-10">
                        <h4>{{ item.product.event }}</h4>
                    </div>
                </div>
            </td>
            <td data-th="Price">
                {{ item.product.price }}</td>
            <td data-th="Quantity" class="text-center">
                {{ item.quantity }}
            </td>
            <td data-th="Subtotal" class="text-center">{{ item.total_price }}</td>
        </tr>
        <tr>
            <td colspan="4">
                <strong>Total: ${{ total }}</strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <br/>
    <h5>Credit Card:</h5>
    <form method="post" action="">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        <table class="table">
            <tbody>
                <tr><td>{{ pay.number }}</td></tr>
                <tr><td>{{ pay.holder }}</td></tr>
                <tr><td>{{ pay.expiration }}</td></tr>
                <tr><td>{{ pay.ccv_number }}</td></tr>
            </tbody>
        </table>
       <h5>Shipping Information:</h5>
        <table>
            <tbody>
                <tr><td>{{ form.ShipName }}</td></tr>
                <tr><td>{{ form.ShipAddress }}</td></tr>
                <tr><td>{{ form.ShipCity }}</td></tr>
                <tr><td>{{ form.ShipState }}</td></tr>
                <tr><td>{{ form.ShipZip }}</td></tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-secondary" value="Complete Order" />
    </form>
</div>
{% endblock %}

<script>
function goBack() {
    window.history.back();
}

// $("tbody > tr").each(function() {
//         var qty = $(this).find("input#qty").val(),
//             tick_id = $(this).find("input#tick_id").val(),
//             price = $(this).find("input#price").val();
//
//       alert(tick_id + qty + price);
// });

// $('#cart > tbody  > tr').each(function() {
//     var price = document.getElementById("price").innerText;
//     var id = $('input#tick_id').val();
//     var qty = 0;
//     alert(id);
//     $(document).on('input', '#qty', function(){
//         qty = $("#qty").val();
//     });
//
//     $( '#update' ).click(function() {
//       $(location).attr('href', id + '/' + qty + '/' + price);
//     });
// });

</script>