{% extends 'Home/base.html' %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'Home/paystyle.css' %}" rel="stylesheet"/>
</head>

<div id="keeping_together">
<div id="cart-summary">
    <div id="cart-sum-holder">
        <h3>Cart Summary</h3>
        <br/>
        <table id="preview_cart" class="table table-condensed">
    <thead>
        <tr>
            <th style="width:50%"></th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-3"><img src="{{ item.product.image_Url }}" alt="..." class="img-responsive" width="75px" height="75px"/></div>
                    <div class="col-sm-9">
                        <h5 style="padding-left: 7px;">{{ item.product.event }}</h5>
                        <h5 id="make_me_smaller">{{ item.product.start_Date }}</h5>
                    </div>
                </div>
            </td>
            <td data-th="Price">
                {{ item.unit_price }}</td>
            <td data-th="Quantity" class="text-center">
                {{ item.quantity }}
            </td>
            <td data-th="Subtotal" class="text-right">{{ item.total_price }}</td>
        </tr>

        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="hidden-xs text-right"><strong>Shipping: ${{ shipping }}</strong></td>
        </tr>
        <tr>
            <td colspan="4" class="hidden-xs text-right"><strong>Tax: {{ tax }}</strong></td>
        </tr>
        <tr>
            <td colspan="4" class="hidden-xs text-right"><strong>Total: {{ total }}</strong></td>
        </tr>
    </tfoot>
    </table>
    </div>
</div>

<div id="form-holder">
    <div id="card-success" class="hidden">
      <i class="fa fa-check"></i>
      <p>Payment Successful!</p>
    </div>
    <div id="form-errors" class="hidden">
      <i class="fa fa-exclamation-triangle"></i>
      <p id="card-error">Card error</p>
    </div>
    <form method="post" id="check_out" action="{% url 'Tickets:success' %}">
    {% csrf_token %}
    <div id="ship-form">
        <h3>Shipping Information:</h3>
    <table class="table changeMe">
        <tbody>
            <tr><td>{{ pay.ShipName }}</td></tr>
            <tr><td>{{ pay.ShipAddress }}</td></tr>
            <tr><td>{{ pay.ShipCity }}</td></tr>
            <tr><td>{{ pay.ShipState }}</td></tr>
            <tr><td>{{ pay.ShipZip }}</td></tr>
        </tbody>
    </table>
    </div>
    <hr/>
<div id="form-container">
  <div id="card-front">
    <div id="shadow"></div>
    <div id="image-container">
      <span id="amount">paying: <strong>{{ total }}</strong></span>
      <span id="card-image">

        </span>
    </div>
    <!--- end card image container --->

    <label for="card-number">
        Card Number
      </label>
    {{ pay.number }}
    <div id="cardholder-container">
      <label for="card-holder">Card Holder
      </label>
      {{ pay.holder }}
    </div>
    <!--- end card holder container --->
    <div id="exp-container">
      <label for="card-exp">
          Expiration
        </label>
      {{ pay.expiration }}
    </div>
        <div id="cvc-container">
      <label for="card-cvc"> CVC/CVV</label>
      {{ pay.ccv_number }}
      <p>Last 3 or 4 digits</p>
    </div>
    <!--- end CVC container --->
    <!--- end exp container --->
  </div>
  <!--- end card front --->
  <div id="card-back">
    <div id="card-stripe">
    </div>

  </div>
  <!--- end card back --->
  <input id="card-btn" type="submit" value="Complete Order" class="btn btn-default"/>

</div>
</form>
</div>

</div>

<!--- end form container --->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="https://use.fontawesome.com/f1e0bf0cbc.js"></script>
<script src="{% static 'Home/creditcard.js' %}"></script>

<script>
    $('#id_expiration_0').attr('placeholder', 'MM');
    $('#id_expiration_1').attr('placeholder', 'YYYY');
</script>
{% endblock %}