<head xmlns="http://www.w3.org/1999/html">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Home/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'ShoppingCart/style.css' %}"/>
    <link href="{% static 'Home/open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
</head>
{% include 'Home/navbar.html' %}

{% block content %}
<div class="container">
    <h3>Cart Preview</h3>
<table id="preview_cart" class="table table-condensed">
    <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="{{ item.product.image_Url }}" alt="..." class="img-responsive" width="100px" height="100px"/></div>
                    <div class="col-sm-10">
                        <h4>{{ item.product.event }}</h4>
                    </div>
                </div>
            </td>
            <td data-th="Price">
                {{ item.product.price }}</td>
            <td data-th="Quantity" class="text-center">
                {{ item.quantity }}
            </td>
            <td data-th="Subtotal" class="text-center">{{ item.total_price }}</td>
        </tr>
        <tr>
            <td colspan="4">
                <strong>Total: ${{ total }}</strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <h3>Your Information:</h3>
    <form method="post" action="">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        {{ pay.as_p }}

        <table>
            <tbody>
                <tr>{{ form.BName }}</tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Pay me mothaa Fucker" />
    </form>
</div>
{% endblock %}

<script>
function goBack() {
    window.history.back();
}

// $("tbody > tr").each(function() {
//         var qty = $(this).find("input#qty").val(),
//             tick_id = $(this).find("input#tick_id").val(),
//             price = $(this).find("input#price").val();
//
//       alert(tick_id + qty + price);
// });

// $('#cart > tbody  > tr').each(function() {
//     var price = document.getElementById("price").innerText;
//     var id = $('input#tick_id').val();
//     var qty = 0;
//     alert(id);
//     $(document).on('input', '#qty', function(){
//         qty = $("#qty").val();
//     });
//
//     $( '#update' ).click(function() {
//       $(location).attr('href', id + '/' + qty + '/' + price);
//     });
// });

</script>