{% extends 'Home/base.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Home/style.css' %}"/>
    <link href="{% static 'Home/open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
</head>


{% block content %}
<div class="container">
    <h3>Cart</h3>
{#    {{  }}#}
    {% load django_tables2 %}
    {% render_table table %}
</div>
{% endblock %}