{% extends 'Home/base.html' %}

{% block content %}
    <h1>Add Content Here</h1>
    <p>
    {% for n in name %}
        Event Name: <strong>{{ n.event }}</strong> <br>
        Venue: {{ n.venues }} <br>
        Date: {{ n.start_Date.date }} <br>
        Status: {{ n.status }} <br>
        Class: {{ n.classification }} <br>
        Price: {{ n.price_Range }}<br><br>
    {% endfor %}
    </p>
{#    {% for v in venue %}#}
{#        <p>At Venue: <strong>{{ v }}</strong></p>#}
{#    {% endfor %}#}
{% endblock %}