{% extends 'Home/base.html' %}
{% block content %}
<button class="btn btn-secondary" role="button" onclick="goBack()" style="margin:10px;">Back</button>
<div class="container" id="view_ticket_cont">

    <h3 id="event_name">{{ selected.event }}</h3>
    <hr/>
    <div class="event_img" id="event_img">
        <span class="helper"></span>
        <img src="{{ selected.image_Url }}" alt="img">
    </div>
    <div class="event_info">
        <p><b>Location:</b> {{ selected.venue_Info }} </p>
        <p><b>Date:</b> {{ selected.start_Date }}</p>
        <p><b>Time:</b> {{ selected.start_Time }}</p>
        <p><b>Price:</b>  {{ selected.price }} </p>
        <p><b>About Event: </b></p>
    </div>
<table class="event_add">
    <tr>
       <td>Quantity:</td><td><input type="number" name="qty" id="qty" class="form-control text-center" value="1" max="{{ selected.qty }}"></td>

       <td><button id="add_cart" name="add_cart" class="btn btn-secondary">Add to Cart</button></td>
    </tr>
</table>
</div>

<script>
var qty = "1";

$(document).on('input', '#qty', function(){
    qty = $("#qty").val();
});

$( "#add_cart" ).click(function() {
  $(location).attr('href', qty);
});

function goBack() {
    window.history.back();
}
</script>
{% endblock %}