{% load static %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'Home/open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'Home/account.css' %}" rel="stylesheet">
</head>
<body>
{% include 'Home/navbar.html'%}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account" aria-selected="true">Account</a>
    <a class="nav-item nav-link" id="nav-chngpass-tab" data-toggle="tab" href="#nav-chngpass" role="tab" aria-controls="nav-chngpass" aria-selected="false">Change Password</a>
    <a class="nav-item nav-link" id="nav-transhistory-tab" data-toggle="tab" href="#nav-transhistory" role="tab" aria-controls="nav-transhistory" aria-selected="false">Transactions History</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
{#      <p>Eventually I will offer more things for the user to do with their account.</p>#}
{#      <p>Your username is: {{ request.user.username }}</p>#}
{#      <p>Your First Name is: {{ request.user.firstname }}</p>#}
{#      <p>Your Last Name is: {{ request.user.lastname }}</p>#}
      <br>
      <form method="post" id="editAccountForm" name="editAccountForm" action="{% url 'Home:saveaccount' %}">
          {% csrf_token %}
          <table>
              <tbody>
                <tr>
                    <td><label>Your email is:</label> <input value="{{ request.user.email }}" name="Email"></td>
                </tr>
                <tr>
                    <td><label>Your First Name is:</label> <input value="{{ request.user.first_name }}" name="FirstName"></td>
                </tr>
                <tr>
                    <td><label>Your Last Name is:</label> <input value="{{ request.user.last_name }}" name="LastName"></td>
                </tr>
                <tr>
                    <td><label>Your username is:</label> <input name="email" value="{{ request.user.username }}" readonly style="background: lightgrey"></td>
                </tr>
                <tr>
                    <td><button id="SaveAccount" class="btn btn-secondary" type="submit">Save Changes</button></td>
                </tr>
              </tbody>
          </table>
      </form>
{#      <p>Emails are being sent to: <b>{{ request.user.email }}</b></p>#}
{#      <br>#}
{#      <p>If you need to change to change your email, please contact ticketportal@gmail.com or 555-555-5555</p>#}
  </div>
  <div class="tab-pane fade" id="nav-chngpass" role="tabpanel" aria-labelledby="nav-chngpass-tab">
{#      <form method="post" id="changepass">#}
{#          {% csrf_token %}#}
{#            <h5>Change Password</h5>#}
{#                  {% if success %}#}
{#                    <div class="alert alert-success fade show" role="alert">#}
{#                        <ul class="messages">#}
{#                            <li class="messages">Your password was successfully updated!</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                 {% endif %}#}
{#           <table>#}
{#               <tr>#}
{#                   <td>#}
{#                       {% if form.old_password.errors %}#}
{#                            <div class="alert alert-danger fade show" role="alert">#}
{#                                {{ form.old_password.errors }}#}
{#                            </div>#}
{#                       {% endif %}#}
{#                   </td>#}
{#               </tr>#}
{#               <tr>#}
{#                    <td><div class="form-group"><input type="password" name="old_password" autofocus="" class="form-control" required="" id="id_old_password" placeholder="Old Password"></div></td>#}
{#               </tr>#}
{#               <tr>#}
{#                   <td>#}
{#                        {% if form.new_password2.errors %}#}
{#                            <div class="alert alert-danger fade show" role="alert">#}
{#                                {{ form.new_password2.errors }}#}
{#                            </div>#}
{#                        {% endif %}#}
{#                   </td>#}
{#               </tr>#}
{#               <tr>#}
{#                   <td><div class="form-group"><input type="password" name="new_password1" required="" class="form-control" id="id_new_password1" placeholder="New Password"></div></td>#}
{#               </tr>#}
{#               <tr>#}
{#                   <td><div class="form-group"><input type="password" name="new_password2" required="" class="form-control" id="id_new_password2" placeholder="Confirm New Password"></div></td>#}
{#               </tr>#}
{#               <tr>#}
{#                  <td><button class="btn btn-secondary" type="submit">Save changes</button></td>#}
{#               </tr>#}
{#           </table>#}
{#        </form>#}
  </div>
  <div class="tab-pane fade" id="nav-transhistory" role="tabpanel" aria-labelledby="nav-transhistory-tab">
      <table class="table" id="past_history">
      <thead>
            <tr>
                <th>Date Purchased</th>
                <th>Event</th>
                <th>Quantity</th>
                <th>Total for Tickets</th>
            </tr>
      </thead>
          <tbody>
          {% for trans in transactions %}
            <tr>
                <td>{{ trans.date }}</td>
                <td>{{ trans.event }}</td>
                <td>{{ trans.quantity }}</td>
                <td style="text-align: right">{{ trans.subtotal }}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{#{% if form.errors %}#}
{#<script>#}
{#$(document).ready(function() {#}
{#    $("#nav-chngpass-tab").tab('show');#}
{#) };#}
{#</script>#}
{#{% endif %}#}
{##}
{#{% if success %}#}
{#<script>#}
{#$(document).ready(function() {#}
{#    $("#nav-chngpass-tab").tab('show');#}
{#});#}
{#</script>#}
{#{% endif %}#}
</body>

