{% extends 'Home/base.html' %}

{% block content %}
    <div class="container">
        <h3>Frequently Asked Questions</h3>
<nav id="navbar-example3" class="navbar navbar-light bg-light">
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#item-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec vehicula lacus. In?</a>
    <a class="nav-link" href="#item-2">Curabitur vel turpis in metus pulvinar laoreet?</a>
    <a class="nav-link" href="#item-3">Vestibulum eget leo nec quam eleifend pellentesque nec sed elit?</a>
    <a class="nav-link" href="#item-4">Phasellus elementum eros sit amet libero pharetra tempus?</a>
    <a class="nav-link" href="#item-5">Cras pellentesque velit et tortor elementum, ut placerat mauris ornare?</a>
    <a class="nav-link" href="#item-6">Integer sed quam non elit pellentesque dignissim ac sodales mauris?</a>
  </nav>
</nav>

<div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
  <h4 id="item-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec vehicula lacus. In?</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a sollicitudin ex. Nulla arcu est,
    efficitur non nisi eu, pharetra ornare purus. Quisque fringilla velit at molestie gravida. In malesuada
    neque nisl, id vehicula libero tristique at. Nam scelerisque facilisis lacus, non mollis risus sodales
    sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin
    pharetra, lacus eu mattis consequat, ante libero dignissim turpis, ac aliquet mauris mi eu est. Donec
    nec blandit ex, quis posuere ipsum. Morbi id tortor vulputate lorem venenatis auctor.</p>
  <h4 id="item-2">Curabitur vel turpis in metus pulvinar laoreet?</h4>
  <p>Suspendisse posuere sodales condimentum. Maecenas sodales iaculis eleifend. Mauris fermentum efficitur
    porttitor. Vestibulum porta volutpat tortor id lobortis. Duis ut aliquet dolor. Pellentesque elementum
    nunc quis dolor sagittis lacinia. Integer diam sem, rhoncus et mauris at, sagittis hendrerit ipsum. Nulla
    eleifend egestas orci, id hendrerit turpis porta nec. Morbi ornare aliquet maximus. Sed dignissim felis
    diam, nec fermentum neque semper a. Duis euismod venenatis lorem, et pellentesque erat fermentum id.</p>
  <h4 id="item-3">Vestibulum eget leo nec quam eleifend pellentesque nec sed elit?</h4>
  <p>Sed fringilla auctor augue id aliquam. Cras ut ultricies lectus. Sed porta sodales nibh sed elementum.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc eu volutpat
    nulla, eu laoreet justo. Curabitur placerat accumsan magna, et vestibulum neque condimentum eu. Phasellus
    vel purus eget sem porttitor eleifend. Aenean posuere vestibulum quam, a tristique ex fermentum non.</p>
  <h4 id="item-4">Phasellus elementum eros sit amet libero pharetra tempus?</h4>
  <p>Sed tincidunt, mauris et posuere cursus, est tellus porta est, ut tincidunt orci lorem non nisi.
    Quisque facilisis lectus nisl, nec bibendum quam fermentum eu. Donec ullamcorper bibendum purus a congue.
    Vivamus vitae felis nisl. Mauris condimentum leo eget est semper, ut mollis odio venenatis. Pellentesque
    a ligula mi. Aenean nec nibh turpis. Mauris sollicitudin sapien ac enim aliquet rhoncus. Proin quam quam,
    lobortis vel metus ac, consequat interdum tortor.</p>
  <h4 id="item-5">Cras pellentesque velit et tortor elementum, ut placerat mauris ornare?</h4>
  <p>Nulla commodo eleifend turpis. Suspendisse eu volutpat metus, sed maximus enim. Donec a placerat ipsum,
    non aliquet libero. Suspendisse vehicula magna vitae lacus pretium condimentum. Vestibulum dui tellus,
    tempus congue metus ut, pulvinar malesuada leo. Duis et lacinia enim, eu faucibus ligula. Proin maximus
    mauris et sapien semper, nec consectetur mi accumsan. Phasellus a enim volutpat purus facilisis tincidunt
    sit amet a justo. Fusce vitae vulputate est. Aliquam a congue nunc. Proin sapien augue, pulvinar a ullamcorper
    ut, tristique eu erat.</p>
  <h4 id="item-6">Integer sed quam non elit pellentesque dignissim ac sodales mauris?</h4>
  <p>Nunc elementum sapien dolor, vitae feugiat sapien bibendum id. Nam in tempus ipsum, eget efficitur lacus.
    Vestibulum viverra hendrerit pulvinar. Sed vitae bibendum mauris. In orci nisi, scelerisque non felis
    sed, ornare luctus risus. Duis eleifend mollis felis at molestie. Mauris pretium lacus faucibus ante
    pharetra vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Quisque rhoncus tellus a libero sollicitudin, a mollis quam porttitor. Cras non nisi rhoncus, congue massa
    a, cursus nisl. Morbi placerat tincidunt arcu, luctus porttitor augue. Ut fringilla tincidunt fringilla.
    Etiam iaculis urna leo, eu molestie nisi ullamcorper eget. Fusce augue ligula, vulputate eget facilisis nec,
    sagittis et arcu. Morbi blandit ultricies posuere. Etiam placerat mattis tellus ut tincidunt.</p>
</div>
    </div>
{% endblock %}
