{% load static %}
<body>
<nav class="navbar navbar-expand-lg  navbar-fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'Home:index'%}">
  <img src="{% static 'Home/images/tp_sml_logo.png' %}" height="50" class="d-inline-block align-top" alt="">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Sports</a>
          <a class="dropdown-item" href="#">Concerts</a>
          <a class="dropdown-item" href="#">Events</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Deals<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Happening Soon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link active" > | </a>
          </li>
      <li class="nav-item">
         <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Login</a>
      </li>
      </ul>
  </div>
</nav>
    <div class="goldbar"></div>

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="logregmodal">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Sign In</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Create Account</a>
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <form>
                          <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend5"><span class="oi oi-person"></span></span>
                                </div>
                                <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                  Please enter your username.
                                </div>
                              </div>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroupPrepend4"><span class="oi oi-key"></span></span>
                                    </div>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    <div class="invalid-feedback">
                                      Please enter your password.
                                    </div>
                              </div>
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                          </div>
                          <button type="submit" class="btn btn-default">Login</button>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                       <form>
                          <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend1"><span class="oi oi-person"></span></span>
                                </div>
                                <input type="text" class="form-control" id="Username" placeholder="Username" aria-describedby="inputGroupPrepend1" required>
                                <div class="invalid-feedback">
                                  Please enter your username.
                                </div>
                              </div>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroupPrepend2"><span class="oi oi-envelope-closed"></span></span>
                                    </div>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    <div class="invalid-feedback">
                                      Please enter your email.
                                    </div>
                              </div>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroupPrepend3"><span class="oi oi-key"></span></span>
                                    </div>
                                    <input type="password" class="form-control" id="Password" placeholder="Password">
                                    <div class="invalid-feedback">
                                      Please enter your password.
                                    </div>
                              </div>
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                            <label class="form-check-label" for="exampleCheck1">I agree to the terms.</label>
                          </div>
                          <button type="submit" class="btn btn-default">Create account</button>
                        </form>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
</body>