{% load static %}

<body>
<nav class="navbar navbar-expand-lg  navbar-fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'Home:index'%}">
  <img src="{% static 'Home/images/tp_sml_logo.png' %}" height="50" class="d-inline-block align-top" alt="">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'Tickets:sports' %}">Sports</a>
          <a class="dropdown-item" href="{% url 'Tickets:concerts' %}">Concerts</a>
          <a class="dropdown-item" href="{% url 'Tickets:arttheater' %}">Arts & Theater</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Home:deals' %}">Deals<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Home:happeningsoon' %}">Happening Soon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Home:faqs' %}">FAQ's</a>
      </li>
    </ul>
      <ul class="navbar-nav">
          {% if user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'ShoppingCart:shoppingcart' %}"><span class="oi oi-cart"></span> 0 </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdow2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="oi oi-person"> </span> {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'Home:account' %}">Account</a>
            {% if request.user.is_staff %}
                <a class="dropdown-item" href="{% url 'Tickets:test' %}">Import Tickets</a>
            {% endif %}
          <a class="dropdown-item" href="{% url 'logout' %}" >Logout</a>
        </div>
      </li>
          {% else %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'ShoppingCart:shoppingcart' %}"><span class="oi oi-cart"></span> 0 </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" id="loginclick" data-toggle="modal" data-target="#exampleModal">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" id="regclick" data-toggle="modal" data-target="#exampleModal">Register</a>
      </li>
          {% endif %}
      </ul>
  </div>
</nav>
    <div class="goldbar"></div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
        $('#regclick').click(function () {
           if (this.id === 'regclick') {
              $("#nav-profile-tab").tab('show');
           }
        });

        $('#loginclick').click(function () {
           if (this.id === 'loginclick') {
              $("#nav-home-tab").tab('show');
           }
        });
</script>


</body>

