{% extends 'Home/base.html' %}
{% block content %}
<h2>Tickets By Date</h2>

<form method="post" id="ticketbydateformid" action="#">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                Start Date: {{ form.start_date }}
            </td>
            <td>
                End Date: {{ form.end_date }}
            </td>
        </tr>

        <tr>
            <td><input type="submit" value="Search" class="btn btn-secondary"/></td>
        </tr>
    </table>

</form>

<h2>Tickets Between {{ startdate }} and {{ enddate }}</h2>

<table class="table table-hover table-striped table-condensed" id="ticket_date_table">
<thead>
    <tr>
        <th>Ticket ID</th>
        <th>Ticket Name</th>
        <th>Start Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Qty</th>
    </tr>
</thead>

<tbody>
{% for ticket in ticketsbydate %}
    <tr>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.event }}</td>
        <td>{{ ticket.start_Date }}</td>
        <td>{{ ticket.start_Time }}</td>
        <td>{{ ticket.price }}</td>
        <td>{{ ticket.qty }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}