{% extends 'Home/base.html' %}
{% block content %}
<h2>Low Quantity Tickets</h2>
<p>Tickets that have quantity less than 10.</p>


<table class="table table-hover table-striped table-condensed">
<thead>
    <tr>
        <th>Ticket ID</th>
        <th>Ticket Name</th>
        <th>Start Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Qty</th>
    </tr>
</thead>

<tbody>
{% for ticket in lowtickets %}
    <tr>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.event }}</td>
        <td>{{ ticket.start_Date }}</td>
        <td>{{ ticket.start_Time }}</td>
        <td>{{ ticket.price }}</td>
        <td>{{ ticket.qty }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}