{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'Home/style.css' %}"/>
        <link href="{% static 'Home/open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

<!--{% if form.errors %}-->
	<!--<p>Your username and password didn't match. Please try again.</p>-->
<!--{% endif %}-->
<!--{% if next %}-->
    <!--{% if user.is_authenticated %}-->
    <!--<p>Your account doesn't have access to this page. To proceed,-->
    <!--please login with an account that has access.</p>-->
    <!--{% else %}-->
    <!--<p>Please login to see this page.</p>-->
    <!--{% endif %}-->
<!--{% endif %}-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="logregmodal">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Sign In</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Create Account</a>
                      </div>
                    </nav>
                        <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <div id="content-container" class="container p-none">
                                    <form id="login-form" method="post"
                                          action="{% url 'login' %}">
                                        {% csrf_token %}
                                        <div class="blankPlace"></div>
                                              {% if form.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    Your username and password didn't match. Please try again.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                              {% endif %}
                                        <table class="table">
                                            <tr>
                                                <td><div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend1"><span class="oi oi-person"></span></span>
                                                    <input id="id_username" name="username"
                                                           type="text" class="form-control" placeholder="Username">
                                                </div><div style="display:none";>
                                                    Please choose a username.
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td><div class="blankPlace"></div></td>
                                            </tr>
                                            <tr>

                                                <td><div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend2"><span class="oi oi-key"></span></span>
                                                    <input id="id_password" name="password"
                                                           type="password" class="form-control" placeholder="Password">
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td><div class="blankPlace"></div></td>
                                            </tr>
                                        </table>

                                        <input id="loginSub" type="submit" value="Login"
                                               class="btn btn-default" style="width: 100%" />
                                        <input type="hidden" name="next" value="{{ next }}" />
                                        {# Assumes you setup the password_reset view in your URLconf #}
                                        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                                    </form>
                              </div>
                          </div>
                            <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <form id="signup-form" method="post"
                                          action="{% url 'signup' %}">
                                        {% csrf_token %}
                                        <div class="blankPlace"></div>
                                            {% if badData == "True" %}
                                              {% if form.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                        {% for errors in form.errors %}
                                                            {% if errors == 'username'%}
                                                                User name is already taken.<br/>
                                                            {% elif errors == 'password2' %}
                                                                Passwords do not match.<br/>
                                                            {% elif errors == 'email' %}
                                                                Please use a valid email.
                                                            {% endif %}
                                                        {% endfor %}
                                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                              {% endif %}
                                            {% endif %}
                                        <table class="table">
                                            <tr>
                                                <td><div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend1"><span class="oi oi-person"></span></span>
                                                    <input id="id_username" name="username"
                                                           type="text" class="form-control" placeholder="Username">
                                                </div><div style="display:none";>
                                                    Please choose a username.
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td><div class="blankPlace"></div></td>
                                            </tr>
                                            <tr>

                                                <td><div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend2"><span class="oi oi-envelope-closed"></span></span>
                                                    <input id="id_password" name="email"
                                                           type="text" class="form-control" placeholder="Email">
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td><div class="blankPlace"></div></td>
                                            </tr>
                                            <tr>

                                                <td><div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend2"><span class="oi oi-key"></span></span>
                                                    <input id="id_password" name="password1"
                                                           type="password" class="form-control" placeholder="Password">
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td><div class="blankPlace"></div></td>
                                            </tr>
                                            <tr>

                                                <td><div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend2"><span class="oi oi-key"></span></span>
                                                    <input id="id_password" name="password2"
                                                           type="password" class="form-control" placeholder="Confirm Password">
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td><div class="blankPlace"></div></td>
                                            </tr>
                                        </table>
                                        <input name="hi" id="hi" type="hidden" value="here"/>
                                        <input id="signupSub" type="submit" value="Submit"
                                               class="btn btn-default" style="width: 100%" />
                                        <input type="hidden" name="next" value="{{ next }}" />
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{#   HERE IS MY SCRIPT THAT KEEPS THE MODAL THERE IF YOU HAVE ERRORS   #}

{% if form.errors %}
<script>
$(document).ready(function() {
    var a = "{{ badData }}";
    $("#exampleModal").modal("show");
    if(a === "True")
    {
        $("#nav-profile-tab").tab('show');
    }
    else
    {
        $("#nav-home-tab").tab('show');
    }
});
document.addEventListener('click', function (e) {
  if(e.target.className === 'modal'
      && e.target.className !== 'nav-item nav-link'
        && e.target.className !== 'nav-item nav-link active'
        && e.target.className !== 'input'){
    $(location).attr('href', '/');
  }
}, false);
</script>


{% endif %}
{% endblock %}