<head>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'Home/style.css' %}"/>
        <link href="{% static 'Home/open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
</head>

{% include 'Home/navbar.html' %}
{% block content %}

    <div class="resetDiv">
        <h3>Please enter your email below</h3>
        <br/>
        <br/>
        <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <table class="table">
                <tr>
                    <td>
                        <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend4"><span class="oi oi-envelope-closed"></span></span>
                            </div>
                            <p>{{ form.email }}</p>
                        </div>
                        <input type="submit" class="btn btn-default" value="Reset password" />
                    </td>
                </tr>
            </table>

        </form>
    </div>
{% include 'registration/login.html' %}
{% endblock %}