.bg-dark {
    background-color: #000000!important;
}

.image {
    text-align: center;
}

.jumbotron{
    width: 250px;
    color: black;
}

.goldbar {
    height: 10px;
    width: 100%;
    background-color: #C0974E;
}

