body {
    padding-top: 75px;
}

.alert.alert-danger.alert-dismissible{
    font-size: 14px;
}

ul.messages {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    font-size: 14px;
}

ul.errorlist {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    font-size: 14px;
}

form#changepass{
    padding-top: 50px;
    width: 400px;
    margin: auto;
}

input#id_old_password.form-control{
    width: 400px;
    border-radius: 5px;
}

input#id_new_password1.form-control{
    width: 400px;
    border-radius: 5px;
}

input#id_new_password2.form-control{
    width: 400px;
    border-radius: 5px;
}


.bg-dark {
    background-color: #000000!important;
}

.image {
    text-align: center;
}

.modal {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.minitron{
    background-color: #e9ecef;
    border-radius: 7px;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 250px!important;
    color: black!important;
}

.goldbar {
    height: 10px;
    width: 100%;
    background-color: #C0974E;
    position: fixed;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: #FFFFFF;
    background-color: #C0974E;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: 0;
}

.nav-tabs .nav-link {
    height: 70px;
    width: 300px;
    border: 0;
    border-radius: 0;
}

.nav-tabs a {
    color:#C0974E;
    padding-top: 25px;
}

.nav-tabs {
    text-align:center;
    font-size: 16px;
    border: 0;
}

.logregmodal{
    width: 602px;
}

.logregmodal button{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.logregmodal form {
    padding-left: 25px;
    padding-right: 25px;
}

.form-check-label {
    font-size: 14px;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table tr {
    padding: 25px;
}

.table td, .table th {
    padding: 0;
    vertical-align: top;
    border: 0;
}

.form-control {
    border-radius: 0;
}

.input-group-text{
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal-content {
    width: 602px;
}

.model-content p {
    vertical-align: middle;
}

.resetDiv {
    margin: auto;
    margin-top: 50px;
    width: 450px;
}

input#id_email{
    height: 30px;
    width: 340px;
}

table#signup-form {
    padding-left: 45px;
    padding-right: 45px;
}

form#registration-form {
    padding-left: 45px;
    padding-right: 45px;
}

form#registration-form button {
    width: 100%;
}

form#login-form p {
    margin-top: 20px;
}

.input-group p {
    margin: 0;
}

.table {
    margin: auto;
}

.logregmodal button {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50px;
}

.alert-dismissible .close {
    padding: 0;

}

@media (min-width: 576px){
.modal-dialog {
    max-width: 602px;
    margin: 1.75rem auto;
}}

.blankPlace {
    height: 30px;
}

.centerMe {
    padding-top: 20px;
    width: 60%;
    margin: auto;
}

.ticket {
    margin: 0 auto;
    width: 100%;
    height: 100px;
}

tr.even{
    border-top: 1px solid gainsboro;
}

tr.odd{
    border-top: 1px solid gainsboro;
}

.dateSquare {
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    margin: 10px;
}

.dateSquare h3 {
    padding-top: 2px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
}
