.bg-dark {
    background-color: #000000!important;
}

.image {
    text-align: center;
}

.minitron{
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 35px;
    width: 250px!important;
    color: black!important;
}

.goldbar {
    height: 10px;
    width: 100%;
    background-color: #C0974E;
}

